@import './variables.css';

body {
  font-size: 16px;
  line-height: 1.4;
  color: var(--black);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

body .sidebar {
  background-color: #f5faff;
  top: 0;
  max-height: 100vh;
  border-right: 1px solid #e1e7ec75;
}

a {
  color: var(--blue);
  text-decoration: none;
}

.sidebar ul {
  margin: 0;
  margin-bottom: var(--space-4);
  padding-left: 0;
  list-style: none;
}
.sidebar ul li {
  padding: var(--space-3) var(--space-4);
}

.sidebar li {
  color: var(--gray);
}
.sidebar a {
  color: var(--black);
}
.sidebar a:hover {
  color: var(--blue);
}
.sidebar a[aria-current] {
  color: var(--blue);
}

pre.prism-code {
  margin: 0;
  padding: var(--space-4);
  border-radius: var(--space-2);
  overflow: scroll;
}

pre span.meta {
  color: var(--blue);
  user-select: none;
}

.react-live-error {
  white-space: pre;
  font-family: monospace;
  font-size: 16px;
  color: var(--red);
}

[data-reach-skip-link] {
  opacity: 0;
}
[data-reach-skip-link]:focus {
  opacity: 1;
}

code {
  font-size: 16px;
  vertical-align: text-top;
  color: var(--purple);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 48px;
}

table th {
  text-align: left;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
}

table td,
table th {
  padding: 8px;
  border-bottom: 1px solid #d1d9e0;
  vertical-align: top;
}
